<!--<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>AngularDemoApplication</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>-->

<mat-nav-list>
  <div class="menu-header">
    <div class="menu-logo">
      <img src="assets/images/Logo.png" *ngIf="isExpanded" />
      <img src="assets/images/Logo_sm.png" *ngIf="!isExpanded" />
    </div>
  </div>

  <mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line *ngIf="isExpanded">Management A</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>assignment</mat-icon>
    <h4 mat-line *ngIf="isExpanded">Management B</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>domain</mat-icon>
    <h4 mat-line *ngIf="isExpanded">Management C</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>folder_shared</mat-icon>
    <h4 mat-line *ngIf="isExpanded">Management X</h4>
  </mat-list-item>
</mat-nav-list>
